<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center relative">

	<!-- Logo -->
	<a href="/" class="pa4 db mr4 h-100 w-50 w4-ns flex-none">
		<img src="/img/logo.svg" alt="Hidden Salon logo" class="br0 db mb0"/>
	</a>

	<!-- Primary Nav -->
	<!--<ul class="flex b grey-3">
		<li><a href="/products" class="pa4 no-underline db">Products</a></li>

		<li><a href="/values" class="pa4 no-underline db">Values</a></li>

		<li><a href="/post" class="pa4 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa4 no-underline db">Contact</a></li>
	</ul>-->

</nav>
